*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h3-title{
  font-size: 1em;
  background: linear-gradient(90deg,rgba(120,120,120,0.5), rgba(200,200,200,0.5))
}

.footer {
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes example {
  from {
    background-color: black;
  }
  to {
    background-color: silver;
  }
}

.skills{
    background:linear-gradient(90deg, blue, gray);
  animation: zoom 4s infinite alternate linear;  
 
}
@keyframes zoom {
  from{
    transform: scale(0.95);
  }
  to{
    transform: scale(1);
  }
  
}


  


