*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  /* background-color:azure; */
  padding: 5px;
  margin: 5px;
  color: blueviolet;
  font-weight: 800;
  font-size: 16px;
}

body{
  background-image: url('../img/fondo1.webp');
  background-size:auto;
  background-repeat: repeat;
}

.h3-title{
  font-size: 1.2em;
  padding: 10px;
  background: linear-gradient(90deg,rgba(120,120,120,0.5), rgba(220,220,220,0.5))
}

.footer {
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.projectDiv{
  background: linear-gradient(90deg, rgba(220,220,220,0.5), rgba(120,120,120,0.5));
}

@keyframes example {
  from {
    background-color: black;
  }
  to {
    background-color: silver;
  }
}

.skills{
    background:linear-gradient(90deg, blue, gray);
  animation: zoom 4s infinite alternate linear;  
 
}
@keyframes zoom {
  from{
    transform: scale(0.95);
  }
  to{
    transform: scale(1);
  }
  
}


  


